/* Add CSS styling here */

*{
    border: 0.5px solid grey;
}

#homeBar {
    display: flex;
    justify-content: space-between;
}

.rightNavBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightNavBar a {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.rightNavBar a:hover {
    background: red;
}

.bigImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Source: https://www.sitepoint.com/community/t/centering-image-inside-flexbox/287444/2 */

.bigImage img {
    width: 50%;

}

.nameInsideImageText {
    /* Source: https://stackoverflow.com/a/35871591/1291940 */
    font-size: 200%;
    color: white;
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 30%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
}

.buttonInsideImage {
    background-color: white;
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 40%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
}

.sectionImages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
}

#entireSection {
    display: flex;
    justify-content: center;
}

.sectionImages img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 200px;
}

.container-subtitle-image {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contactMeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    background-color: thistle;
}

.contactMeButton {
    border: 0.5px solid grey;
    background-color: red;

}

@media (max-width: 800px) {

    #homeBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        color: red;
    }

    .rightNavBar {
        display: flex;
        flex-direction: column;
    }

    .sectionImages {
        display: flex;
        flex-wrap: wrap;

    }
}